/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner::after {
    content: "";
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    border-radius: 50%;
}

.spinner.grow-pulse::after {
    background-color: rgba(59, 130, 246, 1);
    animation: grow-pulse 1.5s ease-out infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

@keyframes grow-pulse {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    30% {
        opacity: 0.5;
    }
    60% {
        transform: scale(1.2);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.divider {
    border-top: 2px solid #ade8f4;
    border-radius: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
  }

.suggested_text_container {
    background-color: #023e8a;
    border-radius: 10px;
    position: absolute;
    z-index: 3;
    top: 20px;
    left: 10px;
    padding: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 300px;
}

.suggested_lines {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;  
}

.suggested_lines:hover {
    background-color: #ade8f4;
    color: black;
    cursor: pointer;
}

.logo_message_container {
    position: relative;
    display: flex;
    justify-content: between;
    align-items: center;
    height: 25px;
    min-width: 50px;
    background-color: rgba(59, 130, 246, 1);
    border-radius: 25px;
    z-index: 4;
}
